<h2>User info</h2>
<table>
    <tbody>
        <tr>
            <th>name</th>
            <th>user.name</th>
        </tr>
        <tr>
            <th>introduction</th>
            <th>user.introduction</th>
        </tr>
    </tbody>
</table>
<%= link_to edit_user_path, class:"btn btn-outline-secondary btn-block edit_user_22641" do %>
<i class="fas fa-user-cog"></i>
<% end %>